alembic==0.8.6
ccm==2.1.6
click==6.6
cql==1.4.0
Flask==0.11
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
pbr==1.8.1
psycopg2==2.6.1
python-editor==1.0
PyYAML==3.11
six==1.10.0
SQLAlchemy==1.0.11
stevedore==1.10.0
thrift==0.9.3
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.10
